{% load static %}
{% include 'student/header.html' %}

<div class="content">
    <div class="container-fluid">

        <!-- Page Title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">
                        {% block form_title %}{% endblock %}
                    </h4>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <!-- Form Card -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <form method="POST"
                              action="{% block form_action %}{% endblock %}"
                              enctype="multipart/form-data">

                            {% csrf_token %}

                            {% block form_body %}
                            {% endblock %}

                            <div class="mt-3">
                                {% block form_button %}
                                {% endblock %}
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Form Card -->

    </div>
</div>

{% include 'student/footer.html' %}