{% load static %}
<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
           
        </div>
    </div>
</footer>
<!-- end Footer -->

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Remove Footer Top Border -->
<style>
    .footer {
        border-top: none !important;
    }
</style>

<!-- Theme Settings -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="theme-settings-offcanvas">
                
            </div>
        </div>
    </div>
</div>

<!-- Vendor js -->
<script src="{% static 'admin/assets/js/vendor.min.js' %}"></script>

<!-- Code Highlight js -->
<script src="{% static 'admin/assets/vendor/highlightjs/highlight.pack.min.js' %}"></script>
<script src="{% static 'admin/assets/vendor/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'admin/assets/js/hyper-syntax.js' %}"></script>

<!-- App js -->
<script src="{% static 'admin/assets/js/app.min.js' %}"></script>

</body>
</html>