{% extends "student/form.html" %}
{% include "student/header.html" %}

{% block form_title %}
My Job Applications
{% endblock %}

{% block form_body %}

{% if applications %}

<table class="table table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th>Job</th>
            <th>Company</th>
            <th>Status</th>
            <th>Applied Date</th>
        </tr>
    </thead>


<tbody>
    {% for app in applications %}
    <tr>
        <td><strong>{{ app.job.title }}</strong></td>
        <td>{{ app.job.company }}</td>

        <td>
            {% if app.status == "Applied" %}
                <span class="badge bg-warning text-dark">Applied</span>
            {% elif app.status == "Shortlisted" %}
                <span class="badge bg-info text-dark">Shortlisted</span>
            {% elif app.status == "Interview" %}
                <span class="badge bg-primary">Interview</span>
            {% elif app.status == "Selected" %}
                <span class="badge bg-success">Selected</span>
            {% elif app.status == "Rejected" %}
                <span class="badge bg-danger">Rejected</span>
            {% endif %}
        </td>

        <td>{{ app.applied_date }}</td>
    </tr>
    {% endfor %}
</tbody>


</table>
{% else %}
<div class="alert alert-info">
    You have not applied for any jobs yet.
</div>
{% endif %}

{% endblock %}
{% include "student/footer.html" %}