{% include "pages/header.html" %}

{% block title %}Payment List{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between mb-3">
        <h3>Payment List</h3>
    </div>

    <table class="table table-bordered table-striped shadow">
        <thead class="table-dark">
            <tr>
                <th>Student</th>
                <th>Total Fee</th>
                <th>Paid</th>
                <th>Pending</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for a in admissions %}
            <tr>
                <!-- Student -->
                <td>{{ a.student_name }}</td>

                <!-- Total Fee -->
                <td>{{ a.total_fee }}</td>

                <!-- Paid Amount -->
                <td>{{ a.paid_amount }}</td>

                <!-- Pending -->
                <td>{{ a.pending_fee }}</td>

                <!-- Admission Date -->
                <td>{{ a.admission_date }}</td>

                <!-- Status -->
                <td>
                    {% if a.pending_fee == 0 %}
                        <span class="badge bg-success">Paid</span>
                    {% else %}
                        <span class="badge bg-danger">Pending</span>
                    {% endif %}
                </td>

                <!-- Actions -->
                <td>
                    <!-- Add Payment -->
                    <a href="{% url 'adminapp:payment_create'  %}"
                       class="btn btn-primary btn-sm">
                        Add Payment
                    </a>

                    
                </td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="7" class="text-center">
                    No Payments Found
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}

{% include "pages/footer.html" %}