<!DOCTYPE html>
<html>
<head>
    <title>Create Job</title>
</head>
<body>

<h2>Create Job</h2>

<form method="POST">
    {% csrf_token %}

    <label>Job Title:</label><br>
    {{ form.title }}<br><br>

    <label>Company:</label><br>
    {{ form.company }}<br><br>

    <label>Location:</label><br>
    {{ form.location }}<br><br>

    <label>Job Type:</label><br>
    {{ form.job_type }}<br><br>

    <label>Salary:</label><br>
    {{ form.salary }}<br><br>

    <button type="submit">Save Job</button>
</form>

</body>
</html>
