{% include "pages/header.html" %}

{% block content %}

<div class="container mt-4">

    <h3>Edit Faculty</h3>

    <form method="POST">
        {% csrf_token %}

        <div class="row">

            <div class="col-md-4 mb-3">
                <label>Name</label>
                <input type="text" name="name" class="form-control" value="{{ faculty.name }}" required>
            </div>

            <div class="col-md-4 mb-3">
                <label>Username</label>
                <input type="text" name="username" class="form-control" value="{{ faculty.username }}" required>
            </div>

            <div class="col-md-4 mb-3">
                <label>Email</label>
                <input type="email" name="email" class="form-control" value="{{ faculty.email }}">
            </div>

            <div class="col-md-4 mb-3">
                <label>Phone</label>
                <input type="text" name="phone" class="form-control" value="{{ faculty.phone_number }}" required>
            </div>

            <div class="col-md-4 mb-3">
                <label>Status</label>
                <select name="status" class="form-control">

                    <option value="active" {% if faculty.status == "active" %}selected{% endif %}>
                        Active
                    </option>

                    <option value="inactive" {% if faculty.status == "inactive" %}selected{% endif %}>
                        Inactive
                    </option>

                </select>
            </div>

        </div>

        <button class="btn btn-success">Update Faculty</button>

    </form>

</div>

{% endblock %}

{% include "pages/footer.html" %}