{% include "pages/header.html" %}

<div class="container-fluid">
    <h4 class="page-title">Faculty Leave History</h4>

    <table class="table table-bordered">
        <tr>
            <th>Faculty Name</th>
            <th>Action</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>
                <a href="{% url 'leave-history-detail' user.id %}"
                   class="btn btn-sm btn-primary">
                    View Leaves
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No leave history</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% include "pages/footer.html" %}
