{% extends "adminapp/forms.html" %}

{% block form_title %}
Leave Requests
{% endblock %}

{% block form_action %}
#
{% endblock %}

{% block form_body %}

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>User</th>
            <th>Leave Type</th>
            <th>From</th>
            <th>To</th>
            <th>Days</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        {% for leave in leaves %}
        <tr>
            <td>{{ leave.user.username }}</td>
            <td>{{ leave.leave_type }}</td>
            <td>{{ leave.start_date }}</td>
            <td>{{ leave.end_date }}</td>
            <td>{{ leave.total_days }}</td>
            <td>{{ leave.reason }}</td>
            <td>
                <span class="badge 
                    {% if leave.status == 'Pending' %}bg-warning
                    {% elif leave.status == 'Approved' %}bg-success
                    {% else %}bg-danger
                    {% endif %}">
                    {{ leave.status }}
                </span>
            </td>

            <td>

                {% if leave.status == "Pending" %}

                <a href="{% url 'adminapp:update_leave_status' leave.id 'Approved' %}"
                   class="btn btn-success btn-sm">
                   Approve
                </a>

                <a href="{% url 'adminapp:update_leave_status' leave.id 'Rejected' %}"
                   class="btn btn-danger btn-sm">
                   Reject
                </a>

                {% else %}
                <span class="text-muted">Processed</span>
                {% endif %}

            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="8" class="text-center">
                No leave requests found
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}

{% block form_button %}
{% endblock %}