{% extends "adminapp/forms.html" %}
{% block content %}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            <h4>My Leave History</h4>
        </div>

        <div class="card-body">

            {% if leaves %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Status</th>
                        <th>Applied On</th>
                    </tr>
                </thead>

                <tbody>
                    {% for leave in leaves %}
                    <tr>
                        <td>{{ leave.leave_type }}</td>
                        <td>{{ leave.start_date }}</td>
                        <td>{{ leave.end_date }}</td>
                        <td>
                            {% if leave.status == "Pending" %}
                                <span class="badge bg-warning">Pending</span>
                            {% elif leave.status == "Approved" %}
                                <span class="badge bg-success">Approved</span>
                            {% else %}
                                <span class="badge bg-danger">Rejected</span>
                            {% endif %}
                        </td>
                        <td>{{ leave.applied_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No leave records found.</p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
