{% extends "adminapp/forms.html" %}
{% block content %}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4>Apply Leave</h4>
        </div>

        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success">
                    Submit
                </button>

                <a href="{% url 'adminapp:management_leave_list' %}"
                   class="btn btn-secondary">
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
