{% extends "adminapp/forms.html" %}

{% block form_title %}
Monthly Salary Generation
{% endblock %}

{% block form_action %}#{% endblock %}

{% block form_body %}

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Username</th>
            <th>Generate Salary</th>
            <th>View History</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>

            <td>
                <a href="{% url 'adminapp:generate_salary' user.id %}"
                   class="btn btn-success btn-sm">
                    Generate Salary
                </a>
            </td>

            <td>
                <a href="{% url 'adminapp:salary_history' user.id %}"
                   class="btn btn-info btn-sm">
                    View History
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3" class="text-center">
                No users found
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block form_button %}{% endblock %}