{% extends "adminapp/forms.html" %}
{% block content %}

<h2>All Generated Salaries</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>User</th>
            <th>Year</th>
            <th>Month</th>
            <th>Net Salary</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for salary in salaries %}
        <tr>
            <td>{{ salary.faculty.username }}</td>
            <td>{{ salary.year }}</td>
            <td>{{ salary.month }}</td>
            <td>{{ salary.net_salary }}</td>
            <td>
                {% if salary.status == "Paid" %}
                    <span class="badge bg-success">Paid</span>
                {% else %}
                    <span class="badge bg-warning text-dark">Pending</span>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No Salaries Generated</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}