{% include 'pages/header.html' %}

<div class="container mt-4">
    <h3>Salary Structure List</h3>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Faculty Name</th>
                <th>Set Salary</th>
                <th>Preview</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>
                    <a href="{% url 'adminapp:salary_set' user.id %}"
                       class="btn btn-primary btn-sm">
                       Set Salary
                    </a>
                </td>
                <td>
                    <a href="{% url 'adminapp:salary_preview' user.id %}"
                       class="btn btn-info btn-sm">
                       Preview
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'pages/footer.html' %}