{% extends "base.html" %}
{% include "pages/header.html" %}


{% block content %}

<div class="container mt-4">

    <h2 class="mb-3">Follow Up List</h2>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Enquiry</th>
                <th>Date</th>
                <th>Status</th>
                <th>Remarks</th>
            </tr>
        </thead>

        <tbody>
            {% for f in followups %}
            <tr>
                <td>{{ f.enquiry.name }}</td>
                <td>{{ f.followup_date }}</td>
                <td>{{ f.status }}</td>
                <td>{{ f.remarks }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">
                    No FollowUps Found
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
{% include "pages/footer.html" %}