{% extends "faculty/forms.html" %}

{% block form_title %}
My Leaves
{% endblock %}

{% block form_body %}

<table class="table table-bordered">

<thead>
<tr>
<th>Leave</th>
<th>From</th>
<th>To</th>
<th>Days</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>

<tbody>

{% for leave in leaves %}

<tr>

<td>{{ leave.leave_type.name }}</td>

<td>{{ leave.start_date }}</td>

<td>{{ leave.end_date }}</td>

<td>{{ leave.total_days }}</td>

<td>

{% if leave.is_lop %}
<span class="text-danger">LOP</span>
{% else %}
{{ leave.status }}
{% endif %}

</td>

<td>

{% if leave.status == "Pending" %}

<a href="{% url 'faculty:delete_leave' leave.id %}"
class="btn btn-danger btn-sm"
onclick="return confirm('Delete this leave?')">

Delete

</a>

{% endif %}

</td>

</tr>

{% empty %}

<tr>
<td colspan="6">No leaves found</td>
</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}