<!-- templates/base_auth.html -->
 {% load static %}

<!DOCTYPE html>
<html lang="en" data-layout="topnav">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Login{% endblock %} | Hyper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />

    <link rel="shortcut icon" href="{% static 'admin/assets/images/favicon.ico' %}">
    <script src="{% static 'admin/assets/js/hyper-config.js' %}"></script>
    <link href="{% static 'admin/assets/css/vendor.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/assets/css/app-creative.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />
    <link href="{% static 'admin/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="authentication-bg position-relative">
    <!-- Background SVG -->
    <div class="position-absolute start-0 end-0 bottom-0 w-100 h-100">
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 800 800'>
            <g fill-opacity='0.22'>
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.1);" cx='400' cy='400' r='600' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.2);" cx='400' cy='400' r='500' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.3);" cx='400' cy='400' r='300' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.4);" cx='400' cy='400' r='200' />
                <circle style="fill: rgba(var(--ct-primary-rgb), 0.5);" cx='400' cy='400' r='100' />
            </g>
        </svg>
    </div>

    <!-- Main Content -->
    <div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-lg-5">
                    <div class="card">

                        <!-- Logo -->
                        <div class="card-header py-4 text-center bg-primary">
                            <a href="{% url 'home' %}">
                                <span><img src="{% static 'admin/assets/images/logo.png' %}" alt="logo" height="22"></span>
                            </a>
                        </div>

                        <!-- Card Body -->
                        <div class="card-body p-4">
                            {% block content %}
                            {% endblock %}
                        </div> <!-- end card-body -->

                    </div> <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">Don't have an account? 
                                <a href="{% url 'users:user_register' %}" class="text-muted ms-1"><b>Sign Up</b></a>
                            </p>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </div> <!-- end page -->

    <footer class="footer footer-alt">
        2018 - <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
    </footer>

    <script src="{% static 'admin/assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'admin/assets/js/app.min.js' %}"></script>
</body>
</html>
